body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    margin-right: 10px;
}

button[type="button"] {
    background-color: #ffc107;
    margin-left: 10px;
}

button[type="button"]:hover {
    background-color: #e0a800;
    background-color: #0056b3;
}
