
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color:white
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #ffc107;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

main {
    padding: 20px;
}
  
.content {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.section{
    text-align: right;
    justify-content: right;
    display: inline-block;
}
h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.option {
    text-align: center;
    display: inline-block;
    
}

.option img {
    width: 100px;
    height: 100px;
}


.options button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options button:hover {
    background-color: #0056b3;
}

.contact {
    margin-top: 30px;
}

.contact p {
    font-weight: bold;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact li {
    margin-bottom: 5px;
}

.mode-toggle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mode-toggle button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mode-toggle button:hover {
    background-color: #555;

}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode h1 {
    color: #fff;
}

.dark-mode .options button,
.dark-mode .mode-toggle button {
    background-color: #007bff;
}

.dark-mode .options button:hover,
.dark-mode .mode-toggle button:hover {
    background-color: #0056b3;
}

.wallet {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.highlight-box {
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}



